* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid yellowgreen; */
  font-family: suse, sans-serif;
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 0px 40px;
  background-color: #1f2937;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 15px;
}

.logo {
  padding: 10px 30px 10px 0px;
  font-weight: 700;
  font-size: 24px;
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  align-items: center;
  padding: 0px 40px;
}

.textside {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-basis: 90%;
  color: #f9faf8;
  padding-bottom: 20px;
}

.heroimage img {
  flex-grow: 1;
  width: 100%;
  border-radius: 50px;
}

.main-headline {
  font-size: 40px;
  font-weight: 100;
}
.main-headline span {
  font-size: 40px;
  font-weight: 700;
}
span {
  font-weight: 700;
  font-style: normal;
  color: #3882f6;
}
.hero button {
  background-color: #3882f6;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  font-size: 13px;
  border: none;
}

.first-segment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.images {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  width: 60%;
}

.images .img1-container,
.img2-container,
.img3-container,
.img4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img1 img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px solid #3882f6;
  border-radius: 20px;
}

.img2 img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px solid #3882f6;
  border-radius: 20px;
}

.img3 img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px solid #3882f6;
  border-radius: 20px;
}

.img4 img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px solid #3882f6;
  border-radius: 20px;
}

.second-segment {
  background-color: #efe7eb;
  height: 300px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #3882f6;
}
.quote {
  width: 60%;
  line-height: 35px;
  color: gray;
  font-style: italic;
}

.thorrr {
  align-self: center;
  text-align: right;
  font-style: normal;
  font-weight: bold;
}
.thorrr:hover {
  color: red;
}

.third-segment {
  height: 300px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.bigbox {
  background-color: #3882f6;
  display: flex;
  width: 80%;
  height: 45%;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: white;
}
.bigbox button {
  border-radius: 10px;
  padding: 10px 25px;
  border: 2px solid white;
  color: white;
  background-color: #3882f6;
}
.buttons {
  display: flex;
  gap: 10px;
  font-weight: bold;
}
.buttons .login {
  background-color: white;
  color: #3882f6;
}
.footer {
  height: 60px;
  background-color: #1f2937;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
